atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
Flask==1.0.2
Flask-HTTPAuth==3.2.4
funcsigs==1.0.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.10.0
pytest==3.8.1
python-dateutil==2.7.3
scandir==1.9.0
six==1.11.0
Werkzeug==2.2.3
